# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Environment Variables
.env

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
htmlcov/
